@charset "UTF-8";

@media(max-width:610px){
.container{
    display: flex;
    flex-direction: column;
    height:48rem;
    width:30rem;
}
.img2{
    background-image: url(images/image-product-mobile.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0; 
}
.container-img{
    height:40%;
    width: 100%;
}
h1{
    width: 24rem;
}
p{
    width: 25rem;
}
}
